body {
	font-family: Arial, Helvetica, sans-serif;
}
.links {
	color: rgb(56, 56, 56);
	text-decoration: none;
	font-size: 13px;
}
.links:hover {
	text-decoration: underline;
}
.icons {
	position: relative;
	top: 10px;
}
.avatar {
	border-radius: 50%;
	position: relative;
	top: 12px;
}
.logo {
	display: block;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
}

.top-bar {
	text-align: right;
}
.search-box {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	width: 35%;
	padding: 14px 12px;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-shadow: 0px 3px 5px -3px #ccc;
	-webkit-box-shadow: 0px 3px 5px -3px #ccc;
	box-shadow: 0px 3px 5px -3px #ccc;
}
.search-box:hover {
	-moz-box-shadow: 0px 3px 5px -1px #e4dcdc;
	-webkit-box-shadow: 0px 3px 5px -1px #e4dcdc;
	box-shadow: 0px 3px 5px -1px #e4dcdc;

}
.buttons-center {
	margin-top: 30px;
	text-align: center;
}
.buttons-style {
	color: rgb(126, 126, 126);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 2px;
	padding: 12px;
	background-color: rgb(236, 236, 236);

}